body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: green;
}

.horizontal-line {
  border: 2px solid yellow;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.card {
  display: inline-block;
  text-align: center;
  margin: 30px;
  padding: 20px;
  width: 120px;
  height: 180px;
  font-size: 20px;
  background-color: white;
  border: solid 1px black;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.spades {
  color: black;
  font-size: 48px;
}

.clubs {
  color: black;
  font-size: 48px;
}

.hearts {
  color: red;
  font-size: 48px;
}

.diamonds {
  color: red;
  font-size: 48px;
}

.yellow {
  color: yellow;
}

#casino-name {
  text-align: center;
  margin: 10px;
}

#pay-table {
  background-color: blue;
  color: yellow;
  width: 90%;
  text-align: right;
  font-weight: bold;
  padding: 0;
}

#tableOne {
  background-color: blue;
  color: yellow;
  text-align: left;
  font-weight: bold;
}

.selected {
  background-color: red;
  color: yellow;
  text-align: right;
  font-weight: bold;
}

.notSelected {
  background-color: blue;
  color: yellowgreen;
  text-align: right;
  font-weight: bold;
}

/* td {
  text-align: left; */
/* padding: 10px;
} */

#theHand {
  text-align: center;
  height: 300px;
  width: 90%;
}

#buttons {
  float: center;
}

#helpBtn {
  background-color: white;
  color: black;
  font-size: 24px;
  float: left;
}

#betOneBtn {
  background-color: yellow;
  color: black;
  font-size: 24px;
  float: center;
}

#drawBtn {
  background-color: red;
  color: black;
  font-size: 24px;
  float: right;
}

#closeModalButton {
  background-color: red;
}

.modal {
  background-color: white;
  width: 400px;
}

.discardBtn {
  font-size: 24px;
  border: 2px yellow;
  background-color: red;
  color: yellow;
  margin: 5px;
}

/* #betLine {
} */

#betAmount {
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  float: center;
}

#bankroll {
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  float: right;
}
